{% load static %}
<html>
  <head>
    <title>Scroll effects: Level up your CSS animation skills</title>
    <!-- The default layout, resets and and text styling -->
    <link href="/static/stylesheets/main.css" rel="stylesheet">
    <!-- Custom styling -->
    <link href="/static/stylesheets/scroll.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  
  <body>
    <center>
    <h3> Scroll </h3>
    <article class="content">

    <img src="/static/image/원본.jpg" class="inline-photo show-on-scroll" >

    <p>원본 이미지</p>
    <br>
    <br>
    <br>
    <br>
    <h3> Scroll </h3>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/image/result.jpg" class="inline-photo show-on-scroll" >
    
    <p>변환된 이미지</p>

    <div id="capture">
      <canvas id="saveCanvas"></canvas>
      <p>
          <a href="" id="download" class="a_blue">Download</a>
          <a href="/upload" class="a_red">Return</a>
      </p>
    </div>

    </article>

    <script src="/static/javascripts/show-on-scroll.js"></script>
    <script type="text/javascript">
        // save
        var canvas2 = document.getElementById('saveCanvas');
            var ctx2 = saveCanvas.getContext('2d');
            var img2 = new Image;
            var src2 = '/static/image/result.jpg';
            img2.src = src2;
            img2.crossOrigin = 'Anonymous';
            img2.onload = function() {
                canvas2.width = this.width;
                canvas2.height = this.height;
                ctx2.drawImage(img2, 0, 0);
                console.log(canvas2.toDataURL());
            }

            function saveAs(uri, filename){
                 var link = document.createElement('a'); 
                 if (typeof link.download === 'string') { 
                     link.href = uri; 
                     link.download = filename; //Firefox requires the link to be in the body 
                     document.body.appendChild(link); //simulate click 
                     link.click(); //remove the link when done 
                     document.body.removeChild(link); 
                    } else { 
                        window.open(uri); 
                    } 
            };

            document.querySelector('a').addEventListener('click', event =>
                saveAs(canvas2.toDataURL(), "cyclegan.jpg"),
            );
    </script>
  </body>
</html>